<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family:'Times New Roman', Times, serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    
</head>
<body method="POST" action="/url">
   <h1>URL SHORTNER</h1>
   <% if (locals.id) { %>
    <p>URL Generated: http://localhost:7000/url/<%= id %></p>
   <% } %>
   <div>
    <form>
        <label>Enter your URL</label>
        <input type="text" name="url" placeholder="https://example.com"/>
        <button type="submit">Generate</button>
    </form>
</div>
</body>
</html>